@import url('https://fonts.googleapis.com/css?family=Merriweather');
*{
	box-sizing: border-box;
}

.content{
  margin-bottom:5%;
  padding-top: 5%;
  padding-right: 30px;
  padding-left: 30px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #fff;
  border-style:none;
  border-top-style: solid;
  border-top: 10px solid #ff0000;
  margin-top:10%;
  padding: 15px;
}
.cc {
  font-size: 9px;
  text-align: right;
}

.vid{
  /*box-sizing: border-box;*/
  /*margin: 5%;*/
}

/*.about{
  padding-right: 50px;
  padding-left: 50px;
}*/

.menu{
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}
.mini-menu{
  margin-top:50px;
}

.credits_titles{
  padding-top:0;
  margin-top:0;
}

.row-credits{
  margin-top:5px;
}

._nav{
    list-style-type: none;
    padding:0;
}




body{
  font-family: "Inconsolata", Consolas, monaco, monospace;
  padding-top: 100px;
  border-top: 10px solid red;
  font-size: 16px;
  line-height: 24px;
}
h1, h2, h3{
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Permanent Marker', cursive;

}
a {
	color: #333;
	font-weight: 500;
}
a:hover{
  color:red;
  text-decoration: none;
}
.inactive{
  color:#D1D1D1;
}
.active{
  color:#333;
}
small{
  font-family: 'Permanent Marker', cursive;
  color: red;
  font-size: 48px !important;
  line-height: 58px !important;
}
a:active{
  color:#333;
}

h1{
  font-size: 120px;
  margin:0px;
  padding:0px;
  line-height: 90px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 20px;
}

p{
  font-weight:100;
  vertical-align:bottom;
}
