*{
	box-sizing: border-box;
}


body{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-top: 100px;
  border-top: 10px solid red;
  font-size: 18px;
  line-height: 28px;
  color: white;
  background-color: #111;
}

a {
  color: white;
  font-weight: 500;
  transition: all .3s;
}
a:hover{
  color:red;
  text-decoration: none;
  transform: scale(1.1) rotateZ(-2deg);
}
h1, h2, h3{
  font-family: 'Permanent Marker', cursive;

}
h1{
  font-size: 120px;
  margin:0px;
  padding:0px;
  line-height: 90px;
}
h2{
  font-size: 64px;
  margin-bottom: 32px;
}
h3{
  font-size: 32px;
  margin-bottom: 16px;
}

p{
  font-weight:100;
  vertical-align:bottom;
}
.whitespace{
  display: block;
  width: 100%;
  padding-top: 30%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: black;
  margin-top:200px;
  padding: 15px;
  height: 200px;
}

.cc {
  font-size: 9px;
  text-align: right;
}

.vid{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
}
  .vid iframe{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.credits_titles{
  padding-top:0;
  margin-top:0;
}

.row-credits{
  margin-top:5px;
}

._nav{
    position: relative;
    height: 100px;
    line-height: 100px;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    text-align: center;
}
  ._nav a{
    display: inline-block;
    margin: 0 10px;
  }
  


.inactive{
  color:#D1D1D1;
}
.active{
  color:#333;
}
small{
  font-family: 'Permanent Marker', cursive;
  color: red;
  font-size: 48px !important;
  line-height: 58px !important;
}
a:active{
  color:#333;
}
