@font-face {
  font-family: 'Tiempos';
  src: url('fonts/TiemposHeadlineWeb-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/TiemposHeadlineWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/TiemposHeadlineWeb-Medium.woff2') format('woff2'),
       url('fonts/TiemposHeadlineWeb-Medium.woff') format('woff')
}

*{
	box-sizing: border-box;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  border-radius: 0;
  background-color: #fff;
  border-style:none;
  border-top-style: solid;
  border-top: 10px solid #ff0000;
}


.content{
  margin-bottom:5%;
  padding-top: 5%;
  padding-right: 50px;
  padding-left: 50px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #fff;
  border-style:none;
  border-bottom-style: solid;
  border-bottom: 10px solid #ff0000;
  margin-top:10%;
  /*padding: 15px;*/
}

.vid{
  /*box-sizing: border-box;*/
  /*margin: 5%;*/
}

/*.about{
  padding-right: 50px;
  padding-left: 50px;
}*/

.menu{
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}
.mini-menu{
  margin-top:50px;
}
.music{
  font-size: 12px
}

body{
  font-family: "Inconsolata", Consolas, monaco, monospace;

}
h1, h2, h3, p{
  font-family: "Tiempos", "Times New Roman", Times, serif;
}
a {
	color: #333;
	font-weight: 500;
}
a:hover{
	opacity: .8;
  color:#777;
  text-decoration: none;
}
a:visited{

}

h1{
  font-size: 72px;
  margin:0px;
  padding:0px;
  line-height: 40px;
}
h2{
  font-size: 56px;
}
p{
  font-size: 16px;
  font-weight:100;
}
